body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #afac4c;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    text-align: center;
    background-color: #93b7d7a2;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}

section h2 {
    text-align: center;
}

section p {
    text-align: justify;
}

section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

section img:hover {
    transform: scale(1.1);
}

.animated {
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
